*{
    margin: 0px;
    font-family: 'inter';
}

#logo{
    margin-left: 56px;
    margin-top: 52px;
}

#titulo-menusuperior{
    margin-top: 71px;
    margin-left: 172px;
}

#texto-menusuperior{
    margin-top: 32px;
    margin-left: 172px;
    padding-bottom: 151px;
}

#menusuperior{
    background-image: url(Imagens/fundo-menusuperior.svg);
    color: aliceblue;
}

#menuiformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.icone{
    margin: 67.11px 0px 68.16px 174.11px;
    padding: 17.05px;
}

#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.textoinformativo{
    display: flex;
    align-items: center;
}

#textototal{
    margin-top: 80px;
    margin-right: 400px;
}

#titulovideo{
    color: #247BA0;
}

#video{
    margin: 57px 25px 50px 350px;
    padding-bottom: 50px;
}

#carrossel{
    background-color: #247BA0;
    padding: 50px;
}

#titulocarrossel{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
}

#div-cards{
    display: grid;
    grid-auto-flow: column;
    margin: 7%;
    margin-bottom: 0%;
    margin-top: 0%;
}

.card{
    margin-left: 75px;
}

#seta-esquerda{
    display: none;
}

#bruna{
    display: none;
}

.seta{
    margin-top: 35%;
    cursor: pointer;
}

.seta:hover{
    transform:translateY(-7px);
    transition-duration: 0.5s;
}

#formulario{
    text-align: center;
}

#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}

input{
    height: 53px;
    width: 413px;
    left: 0px;
    top: 0px;
    border-radius: 8px;
    border: 0px;
    background-color: #EAECE5;
    padding-left: 10px;
}

button{
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 8px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px #1b51687c;
}